@model FacturacionBOOSTRAP.Models.ClienteModel

@{
    ViewBag.Title = "SF - EliminarCliente";
}





<!--Importamos el estilo de los iconos-->
<link rel="stylesheet" href="~/Content/EstiloLogos.css" />

<div class="jumbotron" style="background-color:#4d394b;">
    <h1 style="color:white; text-align:center;">Eliminar Cliente</h1>
    <p style="color:white; text-align:center;">Seguro que desea eliminar el siguiente cliente?</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid text-center text-center">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br>
        <div class="row">
            <div class="col-md-3">
                <span class="glyphicon glyphicon-briefcase logo"></span>
                <h4>Cedula del Cliente:</h4>
                <div class="form-group">
                    @Model.Cedula.ToString()
                </div>
            </div>
            <div class="col-md-3">
                <span class="glyphicon glyphicon-calendar logo"></span>
                <h4>Fecha de Nacimiento:</h4>
                <div class="form-group">
                    @Model.FechaNacimiento.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="col-md-3">
                <span class="glyphicon glyphicon-user logo"></span>
                <h4>Nombre del Cliente:</h4>
                <div class="form-group">
                    @Model.Nombre
                </div>
            </div>
            <div class="col-md-3">
                <span class="glyphicon glyphicon-home logo"></span>
                <h4>Domicilio del Cliente:</h4>
                <div class="form-group">
                    @Model.Domicilio
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <!--Boton de eliminar, lo centramos con el offset y le decimos que lo alinee al medio con text-center-->
        <div class="form-group">
            <div class="col-md-offset-4 col-md-4 text-center">
                <button class="btn btn-danger">
                    @Html.ActionLink("Eliminar", "ConfirmarEliminarCliente", new { Cliente = Model.Cedula }, new { @Style = "color:white;"})
                </button>
                <button class="btn btn-default">
                    @Html.ActionLink("Cancelar", "MostrarClientes", "Cliente")
                </button>
            </div>
        </div>
    </div>
}
























@*<h3>Seguro que desea eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickUsuario)
        </dd>

    </dl>

    <button class="btn btn-default">
        @Html.ActionLink("Eliminar","ConfirmarEliminarCliente",new { Cliente = Model.Cedula })
    </button>
</div>*@
